.jumbotron {
  background-color: #dbca12;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
  background-image: url(/imagenes/happy.jpg);
  background-size: cover;
}

.button {
  background-color: aqua;
  color: black;
}

.card-producto {
  flex: 1 285px;
  padding: 0px 2px 0px 2px;
  margin-top: 10px;
}

.btn-compra {
  width: 100%;
}

.footer-address-icon {
  padding-right: 7px;
  padding-left: 7px;
}

.imagenp {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btG {
  font-size: 40px;
}

/*# sourceMappingURL=styles.css.map */
